h1{
text-align: center;	
color: white;
text-shadow: 5px 5px #ff0000;
font-family: Montserrat;
font-size: 100px;
}
body {
      background: url("http://dash.ga.co/assets/anna-bg.png");
      background-size: cover;
      background-position:center;
}

div{

}

h2{
	margin-top: 0;
}
#car{
float:left;
}


#first{
width:60%;
height:auto;
margin:50px auto 0 auto;
padding:5%;
background-color:rgba(255,255,255,.8);
color:#333;
border:10px solid #C2D6FF;
border-radius:40px 0 40px 0;


}
.actor{
	color: red;
}

.span{

	margin:  ;

}
.option{
color: red;
}
#cars{
	display : block;
}
#rental{
	display : block;
}
#date_debut {
    background: #fff url(../images/picto-calendrier.gif) no-repeat right center;
}
input{ position:relative; display:block; width:auto; padding: 15px; margin: 15px;}
